<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374533370010-tlvl05s6fp0rg5vh340ijr9p7ftl77p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374533370010-tlvl05s6fp0rg5vh340ijr9p7ftl77p4</string>
	<key>API_KEY</key>
	<string>AIzaSyBzga1rMPGmwtINsMeJ7mpjNMtPtBSuqwg</string>
	<key>GCM_SENDER_ID</key>
	<string>374533370010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pollenMeter</string>
	<key>PROJECT_ID</key>
	<string>pollenmeter-4e79c</string>
	<key>STORAGE_BUCKET</key>
	<string>pollenmeter-4e79c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374533370010:ios:ffce8909dc79fcd8c16f23</string>
</dict>
</plist>